/Stack/nbproject/private/
/Stack/build/
/Tehtava1ja2/nbproject/private/
/Tehtava1ja2/build/
/Tehtava1ja2/dist/
/Testi/nbproject/private/
/Testi/build/
/Testi/dist/
/tehtava14/build/
/tehtava14/dist/
/tehtava14/nbproject/private/
/Tehtävä18/nbproject/private/
/UsingJCAPI/build/
/UsingJCAPI/nbproject/private/
/Tehtävä18/build/
/Tehtävä2/nbproject/private/
/Tehtävä2/build/
/Tehtävä2/dist/
/tehtävä19/nbproject/private/
/tehtävä19/build/
/Tehtävä20/nbproject/private/
/Tehtävä20/build/